<div class="yield">
	<div class="container_doc_new">
		<h1 class="todo_list_title">Upload New File</h1>

		<div class="forms_doc">
			<%= render 'form', file_upload: @file_upload %>
		</div>
		<div class="links">
			<%= link_to 'Back', root_path %>
		</div>
	</div>
</div>

















