.container_bar
	.btn_new
		= link_to "", new_note_path, class: "fa fa-pencil-square-o"
		%p New Note
	.btn_new
		= link_to "", new_todo_list_path, class: "fa fa-list"
		%p New Todo-list
	.btn_new
		= link_to "", new_document_path, class: "fa fa-file-word-o"
		%p New Document