<%= render 'mini_nav_b' %>
<div class="yield">
	<div class="container">
	<h1 class="todo_list_title">Editing To-do List</h1>

	<div class="forms">
		<%= render 'form', todo_list: @todo_list %>
	</div>

	<div class="links">
		<%= link_to 'Cancel', todo_list_path %>
	</div>
	</div>
</div>