.container_new_bar
	%h1 Add New
	.btn_my
		= link_to "", new_note_path, class: "fa fa-pencil-square-o"
		%p New Note
	.btn_my
		= link_to "", new_todo_list_path, class: "fa fa-list"
		%p New Todo-list
	.btn_my
		= link_to "", new_document_path, class: "fa fa-file-word-o"
		%p New Document
	.btn_my
		= link_to "", destroy_user_session_path, method: :delete, class: "fa fa-list"
		%p Sign out