








= render file: "app/views/notes/index"
= render file: "app/views/todo_lists/index"
= render file: "app/views/documents/index"






































































/%footer
/	%p &copy; NoteNote 2016. All Rights Reserved.














/	.btn_new
/		= link_to "", destroy_user_session_path, method: :delete, class: "fa fa-list"
/		%p Sign out