= render 'item_bar'



= render 'notes/index'






































































/%footer
/	%p &copy; NoteNote 2016. All Rights Reserved.














/	.btn_new
/		= link_to "", destroy_user_session_path, method: :delete, class: "fa fa-list"
/		%p Sign out