#banner
	.banner_content
		%h1 NoteNote
		%p Your online notebook. Never forget an idea again.
		= link_to "Sign Up", new_user_registration_path, class: "button_welcome"
		= link_to "Login", new_user_session_path, class: "button_welcome"

#testimonial
	.wrapper
		%p.quote "The greatest notebook application. period."
		%p.name - Omar Ibrahim

#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Notes
				%p This is a note section This is a note section This is a note section This is a note section This is a note section
			.callout
				%i.fa.fa-list
				%h2 Todo-Lists
				%p This is a note section This is a note section This is a note section This is a note section This is a note section
			.callout
				%i.fa.fa-file-word-o
				%h2 Documents
				%p This is a note section This is a note section This is a note section This is a note section This is a note section

#bottom_cta
	.wrapper
		%h2 Sign Up Now
		%p Signing Up is so easy and secure.
		= link_to "Sign Up Now", new_user_registration_path, class: "button_welcome"

%footer
	%p &copy; NoteNote 2016. All Rights Reserved.
