<div class="yield">
  <div class="wrapper_with_padding">
    <div class="clearfix" id="notes">
     <br/>
     <h1>Documents</h1>
        <br/>
        <% @documents.each do |document| %>
          <a href="<%= (url_for [document]) %>">
            <div class="document">
              <p class="title">
                <%= document.title %>
              </p>
              <p class="date">
                <%= time_ago_in_words(document.created_at) %>
              </p>
            </div>
          </a>
        <% end %>
    </div>
  </div>
</div>