<%= render 'mini_nav_b' %>
<div class="yield">
	<div class="container_doc_new">
		<h1 class="todo_list_title">New Document</h1>

		<div class="forms_doc">
			<%= render 'form', document: @document %>
		</div>
		<div class="links">
			<%= link_to 'Back', root_path %>
		</div>
	</div>
</div>


