@media screen and (max-height: 768px) {
	.button2 {
		padding: 0.1em 0.5em 0.27em 0.5em;
		font-size: 46px;
	}
}

@media screen and (min-width: 1500px) {
	.yield {
		padding: 0 15%;
		z-index: -1;
	}
}







@media screen and (max-width: 480px) {

	header {
		display: none;
		position: absolute;
	
	}

	body {
		padding-top: 0;
		max-width: 100%;
		width: 100%;
		margin: 0px center;
	}

	.yield {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	#notes {
	.note {
		
		width: 100%;
		min-height: 150px;
		margin: center;
		padding: 1.5rem 2.5%;
		float: right;
		border-radius: .4rem;
		position: relative;
		.title {
			@include bold_font;
			color: white;
			margin: 0;
			letter-spacing: 1px;
		}
		.date {
			position: absolute;
			bottom: .25rem;
			left: 8.5%;
			color: $green;
			font-size: .85rem;
		}
	}
}

.wrapper_with_padding {
	width: 90%;
	margin: 0 auto;
	padding: 3.5rem 0;
}

.container {
	width: 100%;
	max-width: 100%;
	background: #2B2E2E;
	margin: 0px auto auto auto;
	border-radius: 0;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 3em 0;
	position: absolute;
	float: left;
}


	.button {
		margin: 10px auto;
		width: 50%;
  	display: block;
  	height: 60px;
	}

	* {
		max-width: 100%;
		width: 100%;
		margin: 0px auto;
		padding-right: 0;
		padding-left: 0;
	}

}