@media screen and (max-height: 768px) {
	.button2 {
		padding: 0.1em 0.5em 0.27em 0.5em;
		font-size: 46px;
	}
}

@media screen and (min-width: 1500px) {
	.yield {
		padding: 0 15%;
		z-index: -1;
	}
}